
ion-card-subtitle {
  font-size: 20px;
  font-weight: bold;
}

.card {
  margin: 16px;
  border-radius: 7px;
  box-shadow: 6px 6px 19px 0px rgba(214,214,214,1);
}

ion-button {
  color: black;
}

.textarea-wrapper {
  border-bottom: 1px dotted #ccc;
}

a {
  text-decoration: none;
}