
ion-card-subtitle {
  font-size: 20px;
  font-weight: bold;
}

.card {
  margin: 16px;
  border-radius: 7px;
  box-shadow: 6px 6px 19px 0px rgba(214,214,214,1);
  height: 200px;
  display: inline-block;
}

ion-button {
  color: white;
}

.textarea-wrapper {
  border-bottom: 1px dotted #ccc;
}

a {
  text-decoration: none;
}

.ion-fab-button {
  color: white;
}

.ionicon {
  color: white;
}

/* --- firebase styles --- */

.firebaseui-input, .firebaseui-input-invalid {
  border: none;
  margin: 10px;
  padding: 8px;
  font-size: 17px;
  width: 100%;
  background-color: white;
}

.firebaseui-textfield {
  border-bottom: 1px solid var(--ion-color-primary);
}

input:focus {
  outline: none
}

.firebaseui-button {
  margin-top: 10px;
  margin-right: 10px;
  background-color: var(--ion-color-primary);
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 17px;
  padding: 12px 15px 12px 15px
}

.firebaseui-button:active {
  background-color: var(--ion-color-primary-shade)
}